@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Alkatra", cursive;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    #fcbe00,
    #fb8800,
    #e2632d,
    #e46429,
    #7e0ddf
  );
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items-container {
  width: 70vw;
  background: linear-gradient(
    to top left,
    #fcbe00,
    #fb8800,
    #e2632d,
    #e46429,
    #7e0ddf
  );
  box-sizing: content-box;
  display: flex;
  /* position: absolute; */
  flex-wrap: wrap;
  max-width: 600px;
  height: auto;
  padding: 5vw;
  gap: 1rem;
  border-radius: 1.5rem;
}
.items-container > * {
  aspect-ratio: 1/1;
  width: calc(25% - 20px);
  /* background-color: black; */
  flex-grow: 1;
  color: white;
  border-radius: 3vw;
}

.top-container {
  display: flex;
  margin-right: auto;
  column-gap: 2rem;
  align-items: center;
  color: white;
  margin-bottom: min(10vh, 2vw);
  font-size: 1.8rem;
  font-weight: 400;
}
.top-right {
  display: flex;
  flex-direction: column;
}
button {
  display: flex;
  min-width: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.card {
  transform-style: preserve-3d;
  position: relative;
  background-color: black;
  transition: transform 0.5s;
}
.card-back {
  position: absolute;
  backface-visibility: "hidden";
}
.card-front {
  backface-visibility: hidden;
  background-color: rgb(12, 12, 12);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 1.5rem;
  transform: rotateY(0deg);
}

.flip {
  transform: rotateY(180deg);
}
